.env

volumes/agent-app/workspace/**
!volumes/agent-app/workspace/
!volumes/agent-app/workspace/.gitkeep

volumes/agent-app/docker/**
!volumes/agent-app/docker/
!volumes/agent-app/docker/.gitkeep

volumes/agent-app/home/**
!volumes/agent-app/home/
!volumes/agent-app/home/.gitkeep
!volumes/agent-app/home/.codex/
!volumes/agent-app/home/.codex/.gitkeep
!volumes/agent-app/home/Documents/
!volumes/agent-app/home/Documents/.gitkeep
!volumes/agent-app/home/.local/
!volumes/agent-app/home/.local/.gitkeep
!volumes/agent-app/home/.npm-global/
!volumes/agent-app/home/.npm-global/.gitkeep

volumes/agent-app/authelia/config/**
!volumes/agent-app/authelia/config/
!volumes/agent-app/authelia/config/.gitkeep

volumes/agent-app/smtp/opendkim/**
!volumes/agent-app/smtp/opendkim/
!volumes/agent-app/smtp/opendkim/.gitkeep

volumes/agent-app/ssh/**
!volumes/agent-app/ssh/
!volumes/agent-app/ssh/.gitkeep

volumes/agent-app/sshd/**
!volumes/agent-app/sshd/
!volumes/agent-app/sshd/.gitkeep

volumes/acme-dns/config/config.cfg
volumes/acme-dns/clients/**
!volumes/acme-dns/clients/
!volumes/acme-dns/clients/.gitkeep
volumes/acme-dns/data/**
!volumes/acme-dns/data/
!volumes/acme-dns/data/.gitkeep

volumes/acme/**
!volumes/acme/
!volumes/acme/README.md

volumes/certs/**
!volumes/certs/
!volumes/certs/README.md

volumes/conf.d/**
!volumes/conf.d/
!volumes/conf.d/README.md

volumes/dhparam/**
!volumes/dhparam/
!volumes/dhparam/README.md

volumes/html/**
!volumes/html/
!volumes/html/README.md

volumes/vhost.d/**
!volumes/vhost.d/
!volumes/vhost.d/.gitkeep
!volumes/vhost.d/README.md
